{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div id = "create_post">
    {% else %}
    <div id="create_post" style="display: none;">
    {% endif %}
        <h2>New post</h2>
        <form>
            {% csrf_token %}
            <textarea id="content"></textarea>
            <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>    
    const CSRF_TOKEN = '{{ csrf_token }}';
    const src = "index";
    </script>
    <script type = "module" src="{% static 'network/index.js' %}"></script>
{% endblock %}